## binaries folder
development/
release*/
temp/
## auxiliary files
**/svg-*/
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.bib
*.blg
*.clo
*.cls
*.dvi
*.glg
*.glo
*.gls
*.glsdefs
*.hd
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.mw
*.nav
*.orig
*.out
*.pdf
*.ps
*.run.xml
*.slg
*.slo
*.sls
*.snm
*.sty
*.synctex*
*.tdo
*.toc
*.tut
*.wrt
*.xdy
*.xlg
## include test files
!test/*.tex
!test/*.cls
!test/*.sty
!test/*.svg
